/build/
*.hprof
Thumbs.db

### JMETER ###
*jmeter.log

### SASS ###
.sass-cache

### Node ###
npm-debug.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VisualStudioCode ###
.vscode/*
.history
bin/